version: '3.8'
services:
  web:
    image: nginx:stable-alpine
    ports:
      - "8070:80"
    volumes:
      - ./dist:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
